@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
  background-color: #171c20;
}

.App{
  width: 98vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202c35;
  font-family: "IBM plex sans";
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}



